@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Libre+Baskerville:wght@400;700&family=Open+Sans:wght@300&family=Poppins:wght@200;400;500;700&family=Roboto+Slab:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Libre Baskerville", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Slab", serif;
}

section:nth-child(odd) {
  background: #e3e6f393;
}

html {
  height: 100%;
  width: 100%;
}
/* *********navBar ********** */

nav {
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
}
.navBar {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 10px 60px;
  align-items: center;
  color: #302f2f;
  background-color: #e8eaf4;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
}
.navBar a {
  height: 100px;
}

.navLogo {
  height: 100%;
}

.navList img {
  height: 100%;
}

.navList {
  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navList li {
  list-style: none;
  margin-right: 20px;
  cursor: pointer;
}

.navList li a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: black;
  display: inline-block;
  height: auto;
  position: relative;
}

.navList li a::after {
  content: "";
  transition: all ease 0.6s;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background-color: #086f68;
}

.navList li a:hover::after {
  width: 100%;
}

.navList li i {
  font-size: 18px;
}

.navList li i:hover {
  color: #088178;
  animation: shake 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

/* ************  contact ************ */

section {
  padding: 25px 40px;
}

.contact {
  padding-left: 10px;
}
.contact h1 {
  font-size: 35px;
  font-family: GILROY;
}

.contactContainer {
  padding-top: 20px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin: 10px 0px 20px 0px;
}

.box1 {
  padding: 30px;
  margin: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
  width: 100%;
  background-color: #e7e9f0c0;
  height: 235px;
  border-radius: 5px;
}

.box1 h2 {
  font-family: GILROY;
}

.box2 h2 {
  font-family: GILROY;
}

.box1 p {
  color: #5b5b5e;
  margin-top: 5px;
  font-size: 14px;
  max-width: 80%;
}

.box1 .icon {
  font-size: 32px;
  text-align: right;
}

.icon img {
  height: 40px;
}

.box2 {
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #e7e9f0c0;
}

.box2 p {
  color: #5b5b5e;
  margin-top: 10px;
  font-size: 13px;
  max-width: 90%;
}

.box2 .icon {
  font-size: 40px;
  text-align: right;
}

button {
  padding: 10px 15px;
  background-color: rgb(48, 83, 239);
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
}

/* ****************  footer  ************** */

footer {
  background: #e3e6f393;
  width: 100%;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}

.footerLeft {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 14vw;
}

.footerContact {
  display: flex;
  max-width: 300px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.footerContact p {
  text-align: right;
}

.footerRight {
  width: 50%;
}

.footerRightContainer {
  margin-left: 10vw;
}

.footerRight h2 {
  margin-bottom: 7px;
}

.aboutCompany {
  color: rgba(83, 82, 82, 0.941);
  font-size: 16px;
  margin-bottom: 7px;
  word-wrap: break-word;
  max-width: 300px;
}

.icons {
  font-size: 28px;
}
.icons i {
  margin-right: 10px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media screen and (max-width: 500px) {
  section {
    width: 100%;
    background-color: white;
  }

  .contactContainer {
    width: 100%;
  }

  .row {
    flex-direction: column;
  }

  .box1,
  .box2 {
    height: auto;
  }

  .footerContainer {
    flex-direction: column;
  }

  .footerLeft {
    margin-left: 0;
    width: 100%;
  }

  .footerRight {
    width: 100%;
    margin-top: 20px;
  }

  .footerRightContainer {
    margin-left: 0;
    text-align: center;
  }

  .aboutCompany {
    max-width: 100%;
  }

  .footerContact {
    padding: 10px;
  }
}
