@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Libre+Baskerville:wght@400;700&family=Open+Sans:wght@300&family=Poppins:wght@200;400;500;700&family=Roboto+Slab:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Libre Baskerville", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Slab", serif;
}

section:nth-child(odd) {
  background: #e3e6f393;
}

html,
body {
  height: 100%;
  width: 100%;
}

nav {
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
}
.navBar {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 10px 60px;
  align-items: center;
  color: #302f2f;
  background-color: #e8eaf4;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
}
.navBar a {
  height: 100px;
}

.navLogo {
  height: 100%;
}

.navList img {
  height: 100%;
}

.navList {
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navList li {
  list-style: none;
  padding: 0px 15px;
  cursor: pointer;
}
.navList li a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: black;
  display: inline-block;
  height: auto;
  position: relative;
}

.navList li a::after {
  content: "";
  transition: all ease 0.6s;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background-color: #086f68;
}

.navList li a:hover::after {
  width: 100%;
}

.navList li i {
  font-size: 18px;
}

.navList li i:hover {
  color: #088178;
  animation: shake 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

#menu-btn {
  display: none;
}

.container {
  display: flex;
  padding-top: 3rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}
#root {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.sidebar {
  width: 40%;
  border-radius: 5px;
  background-color: #eee;
  margin-left: 20px;
  height: 30rem;
  padding: 15px;
  text-align: center;
}
.head {
  background-color: goldenrod;
  border-radius: 3px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  display: flex;
  align-items: center;
}
.foot {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 10px 0px;
  border-top: 1px solid #333;
}

#count {
  background-color: white;
  color: black;
  padding: 4px;
  border-radius: 4px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid goldenrod;
  border-radius: 5px;
  padding: 15px;
}
.img-box {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images {
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
  object-position: center;
}
.bottom {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}
h2 {
  font-size: 20px;
  color: red;
}
button {
  width: 100%;
  position: relative;
  border: none;
  border-radius: 5px;
  background-color: goldenrod;
  padding: 7px 25px;
  cursor: pointer;
  color: white;
}
button:hover {
  background-color: #333;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  margin: 10px 10px;
}
.row-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid goldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rowimg {
  max-width: 43px;
  max-height: 43px;
  border-radius: 50%;
}
.fa-trash:hover {
  cursor: pointer;
  color: #333;
}

/* ************footer****************** */

footer {
  background: #e3e6f393;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}

.footerLeft {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 14vw;
}

.footerContact {
  display: flex;
  max-width: 300px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.footerContact p {
  text-align: right;
}

.footerRight {
  width: 50%;
}

.footerRightContainer {
  margin-left: 10vw;
}

.footerRight h2 {
  margin-bottom: 7px;
  color: black;
}

.aboutCompany {
  color: rgba(83, 82, 82, 0.941);
  font-size: 16px;
  margin-bottom: 7px;
  word-wrap: break-word;
  max-width: 300px;
}

.icons {
  font-size: 28px;
}
.icons i {
  margin-right: 10px;
}
.pay {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 300px;
  padding: 25px;
  min-height: 100vh;
  padding-bottom: 5rem;
  z-index: 99999999;
}

.pay form {
  padding: 20px;
  width: 700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.pay form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.pay form .row .col {
  flex: 1 1 250px;
}

.pay form .row .col .title {
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.pay form .row .col .inputBox {
  margin: 15px 0;
}

.pay form .row .col .inputBox span {
  margin-bottom: 10px;
  display: block;
}

.pay form .row .col .inputBox input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
}

.pay form .row .col .inputBox input:focus {
  border: 1px solid #000;
}

.pay form .row .col .flex {
  display: flex;
  gap: 15px;
}

.pay form .row .col .flex .inputBox {
  margin-top: 5px;
}

.pay form .row .col .inputBox img {
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.pay form .submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: var(--green);
  color: #fff;
  border: none;
  margin-top: 5px;
  cursor: pointer;
}

.pay form .submit-btn {
  background: #2ecc71;
}

.close-button {
  position: absolute;
  top: 20px;
  font-weight: 900;
  right: 25px;
  cursor: pointer;
  font-size: 30px;
  color: #000;
  background: transparent;
  border: none;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media screen and (max-width: 500px) {
  .footerContainer {
    flex-direction: column;
  }

  .footerLeft {
    margin-left: 0;
    width: 100%;
  }

  .footerRight {
    width: 100%;
    margin-top: 20px;
  }

  .footerRightContainer {
    margin-left: 0;
    text-align: center;
  }

  .aboutCompany {
    max-width: 100%;
  }

  .footerContact {
    padding: 10px;
  }
}
